* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
    color: #222;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #222;
    font-weight: 500;
}

/* HERO SECTION */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 50px;
    background: white;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    background: black;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 4px;
}

.hero-img img {
    width: 450px;
    border-radius: 8px;
}

/* ABOUT */
.about {
    display: flex;
    justify-content: space-between;
    padding: 80px 50px;
    background: #ddd8d8;
}

.about-text {
    width: 50%;
}

.about-img img {
    width: 400px;
    border-radius: 8px;
}

/* EDUCATION */
.education {
    padding: 70px 50px;
    background: white;
}

.education h2 {
    margin-bottom: 40px;
}

.edu-box {
    display: flex;
    margin-bottom: 30px;
}

.year {
    width: 100px;
    font-weight: bold;
}

.detail h3 {
    font-size: 20px;
}

/* SKILLS */
.skills {
    padding: 70px 50px;
    background: white;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.bar {
    width: 300px;
    height: 8px;
    background: #bfbfbf;
    margin-bottom: 20px;
    border-radius: 5px;
}

.bar span {
    display: block;
    height: 100%;
    background: black;
    border-radius: 5px;
}
.projects {
    padding: 60px 10%;
    background: #f9f9f9;
}

.projects h2 {
    text-align: center;
    margin-bottom: 40px;
}

.project-card {
    background: #fff;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.project-card h3 {
    margin-bottom: 10px;
}

.project-card p {
    margin-bottom: 15px;
    line-height: 1.6;
}

.project-card .btn {
    display: inline-block;
    padding: 8px 16px;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}


/* CERTIFICATIONS */
.certifications {
    padding: 70px 50px;
    background: #f0f0f0;
}

.certifications ul {
    margin-top: 20px;
}

.certifications li {
    margin-bottom: 10px;
    font-size: 18px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
}
